{% extends "extended_base.html" %}
{% load static %}

{% block body %}

       <div class="hero-area hero-height2 d-flex align-items-center" data-background="{% static 'img/backgrounds/retechblog1.jpg' %}" 
        style="background-image: url({% static 'img/hashtag.jpg' %})">
         <div class="container">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="hero-cap text-center pt-50">
                           <h2>HackingLab</h2>
                     </div>
                  </div>
               </div>
         </div>
      </div><hr>    

      <div class="container">
          <div class="col-md-8" style="text-align: center;">
              <h3>You have to penetrate to get into this actual page!!!</h3>
          </div>
      </div>

{% endblock body %}