{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form | crispy }}
  {{ UserProfileForm | crispy }}
 
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ login_url }}" />
 
  <button class="btn btn-sm btn-outline-secondary mb-4 mr-2" style="text-align: end;" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
