{% extends 'extended_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}{{ blog.title }}{% endblock title %}
{% block body %}

 <main>
      <!-- Hero Area Start -->
   <div class="hero-area hero-height2 d-flex align-items-center" data-background="{% static 'img/backgrounds/retechblog1.jpg' %}" 
        style="background-image: url({% static 'img/backgrounds/retechblog1.jpg' %})">
         <div class="container">
               <div class="row">
                  <div class="col-xl-12">
                     <div class="hero-cap text-center pt-50">
                           <h2>Single Blog</h2>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Hero Area End -->
      <!--================Blog Area =================-->
      {% if blog.author == user %}
         <div class="form-buttons container col-7">
            <a class="btn" href="{% url 'mainbiz:blog_update' blog.id %}">Update</a>
            <a class="btn" href="{% url 'mainbiz:blog_delete' blog.id %}">Delete</a>
         </div>
      {% endif %}

      <section class="blog_area single-post-area section-padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 posts-list">
                  <div class="single-post">
                     <div class="feature-img">
                     {% if blog.image %}
                        <img class="img-fluid" src="{{ blog.image_thumbnail.url }}" alt="">
                    {% endif %}
                     </div>
                     <div class="blog_details">
                        <h2>{{blog.title}}</h2>
                        <ul class="blog-info-link mt-3 mb-4">
                           <li><a href="#"><i class="fa fa-calendar"></i>{{ blog.pub_date }}</a></li>
                           <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                        </ul>
                        <p class="excert">
                           {{blog.text|safe}}
                        </p>
                     </div>
                  </div>
                  <div class="navigation-top">
                     <div class="d-sm-flex justify-content-between text-center">
                        <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                           people like this</p>
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                           <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                           <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                           <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                           <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                           <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                     </div>
                     <div class="navigation-area">
                        <div class="row">
                           <div
                              class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                              <div class="thumb">
                                 <a href="#">
                                    <img class="img-fluid" src="assets/img/post/preview.png" alt="">
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-left"></span>
                                 </a>
                              </div>
                              <div class="detials">
                                 <p>Prev Post</p>
                                 <a href="#">
                                    <h4>Space The Final Frontier</h4>
                                 </a>
                              </div>
                           </div>
                           <div
                              class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                              <div class="detials">
                                 <p>Next Post</p>
                                 <a href="#">
                                    <h4>Telescopes 101</h4>
                                 </a>
                              </div>
                              <div class="arrow">
                                 <a href="#">
                                    <span class="lnr text-white ti-arrow-right"></span>
                                 </a>
                              </div>
                              <div class="thumb">
                                 <a href="#">
                                    <img class="img-fluid" src="assets/img/post/next.png" alt="">
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="blog-author">
                     <div class="media align-items-center">
                        <img src="{{ blog.author.profile.image_thumbnail.url }}" alt="">
                        <div class="media-body">
                           <a href="#">
                              <h4>Harvard milan</h4>
                           </a>
                           <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                              our dominion twon Second divided from</p>
                        </div>
                     </div>
                  </div>


                  <!--Comment Section -->
                  <div class="comments-area">
                     <h4>{{blog.no_of_comments}} Comments</h4>
                     <div class="comment-list">
                        {% for comment in comments %}
                        {% if user.is_authenticated %}
                        <div class="single-comment justify-content-between d-flex">
                           <div class="user justify-content-between d-flex">
                              <div class="thumb">
                                 <img src="{{comment.author.profile.image_thumbnail.url}}" alt="">
                              </div>
                              <div class="desc">
                                 <p class="comment">
                                    {{comment.content}}
                                 </p>
                                 <div class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                       <h5>
                                          <a href="#">{{comment.author}}</a>
                                       </h5>
                                       <p class="date">{{comment.created_date|timesince}}</p>
                                    </div>
                                    <div class="reply-btn">
                                       <a href="#" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div><br>
                        {% endif %}
                        {% empty %}
                           <p>No Comments</p>
                        {% endfor %}

                        {% if user != None %}
                          <div class="comment-form">
                              <h4>Add a comment</h4>
                              <form action="." method="POST">
                                 {% csrf_token %}
                                 <fieldset class="form-group">
                                    {{ form | crispy }}
                                 </fieldset>
                                 <input class="btn btn-primary" type="submit" value="Submit">
                              </form>
                        </div>
                        {% endif %}
                     </div>
                     </div>
                  </div>
{% include 'blog_base.html' %}
      <!--================ Blog Area end =================-->
   </main>


{% endblock body %}