{% extends 'extended_base.html' %}
{% load static %}
{% block title %} Profile Update {% endblock title %}
<head>{{ profileupdateform.media }}</head>
{% load crispy_forms_tags %}
{% block body %}

<div class="container col-md-8">
    <div class="entertainment_header">
        <h4>New Post</h4>
    </div>
    
    <div class="create_form">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{u_form | crispy}}
            {{ p_form| crispy}}
            <br>
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>
    
</div>
<script>var editor=new MediumEditor('.editable');</script>


{% endblock body %}

