{% extends "extended_base.html" %}
{% load static %}
{% for profile in profiles %}
{% block title%}{{profile.user.username}}{% endblock %}
{% block body %}


<div class='container'>
  <div class="col-lg-6" style="margin: auto;">
    <div class="card border-primary" style="">
      <img src="{{ profile.image_thumbnail.url }}" class="card-img-top rounded-circle" alt="{{ profile.user.username }}" style="width: 18rem; margin: auto;">

          {% if profile.user == user%}

          <a href={% url 'profiles:edit-profile' request.user.username %} ><button class="btn btn-success">Edit Profile</button></a>

          {% endif %}

        <div class="card-body">
          <h5 class="card-title">{{profile.user.username}}</h5>
          <h4>{{profile.category}}</h4>
          <p class="card-text">{{ profile.bio|safe }}</p>
          </div>
    </div>
  </div>
</div>

{% endblock body %}
{% endfor %}

